ExternalMemorySort.userprefs
ExternalMemorySort/bin/
ExternalMemorySort/obj/
ExternalMemorySort.v12.suo
ExternalMemorySort/ExternalMemorySort.csproj.user
ExternalMemoryUnitTests/bin/*
ExternalMemoryUnitTests/obj/*
